* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* INSTAGRAM SECTION */
.insta-section{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 16px;
    margin-bottom: 20px;
}

.title span{
    width: 80px;
    height: 1px;
    background: black;
}

.images{
    display: flex;
}

.images img{
    width: 16.66%;
    height: 200px;
    object-fit: cover;
}

.features{
    display: flex;
    justify-content: space-between;
    padding: 45px;
    background: #f5f5f5;
}

.feature{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    text-align: center;
    width: 22%;
}

.feature i{
    font-size: 22px;
    color: gray;
}

.feature h4{
    font-size: 14px;
    margin-bottom: 5px;
}

.feature p{
    font-size: 12px;
    color: gray;
}