* {
    padding: 0;
    /* margin: 0; */
    box-sizing: border-box;
}

h1:only-child{
    background-color: yellow;
    color: red;
}

h1:only-of-type{
    background-color: yellow;
    color: red;
}

h1:nth-child(6){
    background-color: yellow;
    color: red;
}

h1:nth-of-type(8){
    background-color: yellow;
    color: red;
}

h1:nth-last-child(8){
    background-color: yellow;
    color: red;
}

h1:nth-last-of-type(7){
    background-color: yellow;
    color: red;
}

body > h1:nth-of-type(2), body > h1:nth-of-type(5), body > h1:nth-of-type(9){
    color:red;
    background-color: yellow;
}

a:first-child,a:nth-child(4){
    color: red;
    background-color: yellow;
}

div:nth-of-type(1) >  h1:nth-of-type(1){
    color:red;
	background-color: yellow;
}

div:first-child > h1:last-of-type{
    color:red;
	background-color: yellow;
}

.heading{
    color:red;
	background-color: yellow;
}

div:nth-of-type(2) h1:nth-of-type(2){
    color:red;
	background-color: yellow;
}

span p:last-of-type{
    color:red;
    background-color: yellow;
}

section > h1:last-child{
    color:red;
	background-color: yellow;
}

body > h1:last-of-type{
    color:red;
	background-color: yellow;
}