* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
	text-align: center;
    line-height: 35px;
	}

h2{
	text-decoration: underline;
	}

body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    }